/** @format */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  height: 80px;
  background-color: #1c2b35;
}
.nav-items {
  display: flex;
  gap: 20px;
}
.nav-items a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}
.nav-items a:hover {
  color: #bae2fd;
}

.btn {
  margin: 0;
  padding: 4px;
  background: transparent;
  text-decoration: #ee1add underline;
  outline: none;
  border: none;
  cursor: pointer;
}
